<app-header></app-header>
<div class="container">
  <div class="junbotrom">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <label>
        First Name:
      </label>
      <input type="text" formControlName="firstName">
      <label>
        Last Name:
      </label>
      <input type="text" formControlName="lastName">
      <label>
        Email:
      </label>
      <input type="text" formControlName="email">
      <button type="submit">Register</button>
    </form>
  </div>
  <img src="./assets/images/financial.png" alt="">
</div>

<!-- <label>
Satisfaction Level(1-10)
<input type="range" min="1" max="10" step="1" value="5" formControlName="satisfaction">
</label> -->
