<app-header></app-header>
<div class="category-detail">
  <h1>How's It Going?</h1>
  <p>Rate how you feel your life is going in the categories below by moving each slider. Use the questions in each category as thought-starters.</p>
  <div class="input-layout">
    <div *ngFor="let category of categories" class="input-content">
      <img src="{{category.category.img}}">
      <h3><em>{{category.category.name}}</em></h3>
      <!-- <p>{{category.category.description}}</p> -->
      <ul>
        <li>{{category.question1}}</li>
        <li>{{category.question2}}</li>
        <li>{{category.question3}}</li>
      </ul>
      <mat-slider thumbLabel tickInterval="1"class="slider" min="0" max="10" step="1" value="1" #value></mat-slider>
    </div>
  </div>
  <div class="button-row">
    <button routerLink="/results" class="submit" type="submit" name="button">Submit</button>
  </div>
</div>
