<app-header></app-header>
<div class="category-detail">
  <div class="social">
    <div *ngFor="let category of categories">
      <h3><em>{{category.title}}</em></h3>
      <h4>{{category.description}}</h4>
      <ul>
        <li>{{category.question1}}</li>
        <li>{{category.question2}}</li>
        <li>{{category.question3}}</li>
      </ul>
      <mat-slider thumbLabel tickInterval="1"class="slider" min="0" max="10" step="1" value="1"></mat-slider>
    </div>
    <button class="submit" type="button" name="button">Submit</button>
    <div class="social-img">
      <img src="./assets/images/social.png" alt="">
    </div>
  </div>
</div>
