
.splash {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  background-image: linear-gradient(#b2d8d8, #66b2b2);
  img {
    width: 30vw;
    height: 30vw;
  }
}

img {
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

img:hover {
  animation-name: icons;
}

h1 {
  animation-name: example;
  animation-duration: 4s;
}

.welcome {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: 100%;
  color: white;
  letter-spacing: .2em;
  font-size: 50px;
  text-align: center;
}

.account {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;
  margin-top:15%;
  color: white;
  letter-spacing: .2em;
  font-size: 14px;
  text-align: center;
}

.social {
 margin-top: 10%;
 margin-left: -5%
}

.financial {
 transform: rotate(-20deg);
 margin-left: 70%;
}
.work {
  transform: rotate(20deg);
}

button {
  margin-top: 5%;
}
@keyframes example {
  0% {
   color: red;
   font-size: 20px;
 }
 15% {
   color: orange;
 }
 30% {
   color: yellow;
 }
 45% {
   color: green;
 }
 60% {
   color: blue;
 }
 75% {
   color: indigo;
 }
 90% {
   color: violet;
 }
 100% {
   color: white;
 }
}

@keyframes icons {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
