
.splash {
  display: flex;
  flex-direction: column;
  // border: 1px solid red;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  background-image: linear-gradient(#b2d8d8, #66b2b2);
  img {
    width: 30vw;
    height: 30vw;
  }
}

img {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: iconsTwo;
}

img:hover {
  animation-name: icons;
}

.welcome {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;
  margin-top:15%;
  color: white;
  letter-spacing: .2em;
  text-align: center;
  h1 {
    font-size: 100px;
    font-weight: 400;
    animation-name: example;
    animation-duration: 6s;
    // animation-iteration-count: infinite;
  }
}

.account {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  margin-bottom: 5%;
  margin-top:15%;
  color: white;
  letter-spacing: .2em;
  font-size: 14px;
  text-align: center;
  color: #00254e
}

.social {
 margin-top: 10%;
 margin-left: -5%;
 img {
   position: absolute;
 }
}

.financial {
 // transform: rotate(-20deg);
 margin-left: 70%;
 img {
   position: absolute;
 }
}
.work {
  // transform: rotate(20deg);
}

button {
  margin-top: 5%;
}

@keyframes example {
  0% {
   color: #008181
 }
 15% {
   color: #008181;
 }
 30% {
   color: #009a9a;
 }
 45% {
   color: #00b4b4;
 }
 60% {
   color: #00cdcd;
 }
 75% {
   color: #00e7e7;
 }
 90% {
   color: #1bffff;
 }
 100% {
   color: white;
 }
}

@keyframes icons {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes iconsTwo {
  0% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
