<app-header></app-header>
<div class="container">

  <h1>Welcome {{userObject.firstName}}</h1>

    <div class="category" *ngFor="let category of categories">
        <h2>{{category.name}}</h2>
        <p>
          {{category.description}}
        </p>
            <img id="financial" src="./assets/images/{{category.img}}" alt="">
        <br>

        <button type="button" name="button" routerLink="/category-detail">SEE more</button>
     </div>
     <a routerLink="/category-detail">details</a>
</div>
