.container {
  height: 250em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color:  #66b2b2;
    .category {
        text-align: center;
        margin-bottom: 10em;
        color: #00254e;



    h2 {

    color: white;
    letter-spacing: .2em;
    font-size: 4vw;
  }


  img {
    width: 30vw;
    height: 30vw;
    margin-bottom: 5em;
    animation-name: bounce-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
 }
}

h1 {
  color: white;
}


p {
  // position: relative;
}

//button {
//  position: relative;
//}
