/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body {
  font-family: 'Lato', sans-serif;
  font-family: 'Source Code Pro', monospace;
  background-color:  #66b2b2;
}

* {
  margin: auto;
  padding: 0;
}



button {
  border: 1px solid red;
  position: relative;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  font-size: 16px;
  letter-spacing: .2em;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
}

button:hover {
  background-color: green;
  cursor: pointer;
  color: white;
  }


  @keyframes example {
    0% {
     color: #008181
   }
   15% {
     color: #008181;
   }
   30% {
     color: #009a9a;
   }
   45% {
     color: #00b4b4;
   }
   60% {
     color: #00cdcd;
   }
   75% {
     color: #00e7e7;
   }
   90% {
     color: #1bffff;
   }
   100% {
     color: white;
   }
  }

  @keyframes icons {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
